<style>
body {background-color: rgb(245, 229, 210); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif; text-align: center;}
h1 {color: black;}
h2,h3 {color:brown}
</style>
